<!DOCTYPE html>
<html>
  <head>
    <title>Internship Inquiry</title>
  </head>
  <body>
    <p>Greetings <%= receiver %>!</p>
    <p>I am <%= name %>, a pre-final year student at <%= school %>. I am a full-stack developer actively looking for remote internship opportunities.</p>
    <p>I have experience in building dynamic web applications in <strong>ReactJS</strong>. In addition to this, I have a required grip on <strong>NodeJS, ExpressJS</strong>, and database technologies including <strong>PostgreSQL</strong> and <strong>MongoDB</strong>. Moreover, I have knowledge of AWS and Google Cloud Platform services like virtual machines. I can do deployment using <strong>Docker</strong>.I have done various projects in Javascript and Typescript including a Remote Code Executor in a docker-based sandboxed environment. I have also worked on small projects that have a responsive design and are scalable according to the need. I would like to learn by working with your reputed organization.</p>
     <p> I am a curious and quick learner with a problem-solving attitude. I know to code in C++ and Python.
      I have done a few internships and personal projects in the field.</p>
    <p>I worked with various startups, as a software developer intern at <a href="<%= jhaiho %>"> Jhaiho </a> and a software engineer intern at <a href="<%=careervira %>">Careervira</a>. I have attached my resume and a GitHub link for your reference.</p>
    <p>Kindly consider my application if there are any open opportunities for a software development role at <%= company %> and provide me with the opportunity to work with the team.</p>
    <p>Thank you for your time. I look forward to hearing from you soon.</p>
    <p>Resume: <a href="<%= resumeUrl %>"><%= resumeUrl %></a></p>
    <p>GitHub Url: <a href="<%= githubUrl %>"><%= githubUrl %></a></p>
    <p>LinkedIn Url: <a href="<%= linkedinUrl %>"><%= linkedinUrl %></a></p>
    <p>Thanks & Regards</p>
    <p><%= name %><br />
    <%= contact %></p>
  </body>
</html>