<!DOCTYPE html>
<html>
  <head>
    <title>Internship Inquiry</title>
  </head>
  <body>
    <p>Greetings <%= receiver %>!</p>
    <p>
      I hope this email finds you well. I am <%= name %>,and I am currently a student pursuing an integrated postgraduate course in B.Tech + MBA at
      IIITM Gwalior. I am writing to express my interest in applying for the software developer internship role at <%= company %>.
    </p>
    <p>
      I have a strong understanding of web development technologies and have been honing my skills in this field through various personal projects and
      coursework. I am well-versed in frontend frameworks such as React and have experience building responsive and user-friendly websites. On the
      backend, I am proficient in Node.js frameworks such as Express and have experience working with SQL and NoSQL databases such as MySQL and
      MongoDB. I have also had experience with cloud services such as AWS.
    </p>
    <p>I am a curious and quick learner with a problem-solving attitude and have done a few internships and personal projects in the field.</p>
    I have a good amount of industrial experience as I have worked with various startups as a software developer intern at Kinetic Codes,
    Techhforce.ai, and a full stack developer at Craftnotion>. I have attached my resume and a GitHub link for your reference.
    <p>
      I believe that my skills and passion for web development would make me a valuable asset to your team, and I am excited about the opportunity to
      work on real-world projects and gain valuable industry experience through this internship.
    </p>
    <p>
      I am available to start the internship immediately and am highly motivated to work remotely. I am confident that my skills and dedication will
      make a significant contribution to <%= company%>.
    </p>
    <p>Thank you for your time. Kindly consider my application.I look forward to the opportunity to discuss my qualifications further.</p>
    <p>Resume: <a href="<%= resumeUrl %>"><%= resumeUrl %></a></p>
    <p>GitHub Url: <a href="<%= githubUrl %>"><%= githubUrl %></a></p>
    <p>LinkedIn Url: <a href="<%= linkedinUrl %>"><%= linkedinUrl %></a></p>
    <p>Thanks & Regards</p>
    <p>
      <%= name %><br />
      <%= contact %>
    </p>
  </body>
</html>
